<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <!-- @TODO for generating hibernate objects uncomment below fields and update as per your settings  -->
  <!-- <property name="hibernate.connection.password">admin*</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tfcom_articles</property>
  <property name="hibernate.connection.username">admin</property> -->
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <mapping class="com.tech_freaks.catalog.model.Product" resource="com/tech_freaks/catalog/model/Product.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
